<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @recruitment %>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー詳細</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">新しい募集</h2>
      <%= render 'form', recruitment: @recruitment %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>募集</h2>
      <%= render 'index', recruitments: @recruitments%>
    </div>
  </div>
</div>