<div class="container mt-5">
  <div class="row">
    <div class='mx-auto text-center'>
      <h2 class="mb-4">ようこそ！！<br>Gathering of Adventurers</h2>
      <p>ここはオンラインゲームのフレンドを募集する場所になります<br>ルールやマナーを守り、このサイトをご活用ください</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div>
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-primary btn-sm btn-block mt-5" %>
        </div>
        <div>
          <%= link_to '無料会員登録はこちら',new_user_registration_path, class: "btn btn-secondary btn-sm btn-block mt-3 mb-5" %>
        </div>
          <div>
            <%= link_to 'ゲストログイン',homes_guest_login_path, class: "btn btn-warning btn-sm btn-block my-3" %>
          </div>
      </div>
    </div>
  </div>
</div>
