<div class="container">
  <div class="row">
    <div class='mx-auto'>
      <h2>ようこそ！！Gathering-Of-Adventurers</h2><br><br>
      <p>ここはオンラインゲームのフレンドを募集する場所になります</p>
      <p>ルールやマナーを守り、このサイトをご活用ください</p><br>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <p>新規登録がお済みの方はこちら</p>
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div><br>
        <p>新規登録がお済みではない方はこちら</p>
        <div class="row">
          <%= link_to '新規登録',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>
