<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "ユーザー" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserでは、ない時 -->
    <tbody>
      <% @recruitments.each do |recruitment| %>
        <tr>
          <td><%= link_to recruitment.title,recruitment, class: "recruitment_#{recruitment.id}" %></td>
          <td><%= recruitment.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>